<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myapplication" >

    <uses-permission android:name="android.permission.INTERNET"/>               //允许联网
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>    //允许悬浮框弹出

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".TestDome.AppManager"
            android:theme="@android:style/Theme.Holo.Light"
            android:parentActivityName=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>